In [ ]:
import findspark

In [ ]:
findspark.init('/usr/local/spark/')

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Dataframes_basics").getOrCreate()

In [ ]:
spark

In [ ]:
df = spark.read.json('products.json')

In [ ]:
df.show(5)

In [ ]:
df.printSchema()

In [ ]:
df.describe().show()

In [ ]:
df = spark.read.json('ex.json')

In [ ]:
df.show()

In [ ]:
df.printSchema()

In [ ]:
df.columns

In [ ]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [ ]:
df_schema = [StructField("age", IntegerType(), True), StructField("name", StringType(), True)]

In [ ]:
help(StructField)

In [ ]:
df_schema

In [ ]:
structure = StructType(fields=df_schema)

In [ ]:
df1 = spark.read.json('ex.json', schema=structure)

In [ ]:
df1.printSchema()

In [ ]:
df.show()

In [ ]:
df2 = df.na.drop()

In [ ]:
df2.show()

In [ ]:
df1['age']

In [ ]:
type(df1['age'])

In [ ]:
df1.select('age').show()

In [ ]:
df1.head(3)

In [ ]:
df1.select(['age','name']).show()

In [ ]:
help(df1.withColumn)

In [ ]:
df1.withColumn('newcol',df1['age']*2).show()

In [ ]:
df1.show()

In [123]:
from pyspark.sql.functions import when, lit, regexp_replace, countDistinct, stddev, date_format, dayofmonth, dayofyear

In [ ]:
df1.withColumn('eligible', when((df1.age<19), lit("minor"))\
               .when((df1.age>19), lit("major"))).show()

In [ ]:
df1.withColumn('name', regexp_replace('name','a','aa')).show()

In [ ]:
df1.withColumnRenamed('name', "Name")

In [ ]:
df1.createOrReplaceTempView('ex')

In [ ]:
queries = spark.sql("SELECT * from ex")

In [ ]:
queries

In [ ]:
spark.sql("SELECT * from ex where age > 18").show()

In [ ]:
df.columns

In [ ]:
grp.show()

In [ ]:
grp = df.groupBy('product_category').mean()

In [ ]:
df.agg({'product_price':'max'}).show()

In [ ]:
grp1 = df.groupBy('product_category')

In [ ]:
grp1.agg({"product_price":'max'}).show()

In [ ]:
df.orderBy(df['product_price'].desc()).show()

In [116]:
df1.show()

+----+-----+
| age| name|
+----+-----+
|null|  Ram|
|  20|Bheem|
|  18| Shiv|
+----+-----+

In [118]:
df1.na.drop().show()

+---+-----+
|age| name|
+---+-----+
| 20|Bheem|
| 18| Shiv|
+---+-----+

In [121]:
df2 = df1.na.drop(thresh=2)

In [122]:
df2.show()

+---+-----+
|age| name|
+---+-----+
| 20|Bheem|
| 18| Shiv|
+---+-----+

In [124]:
df.show()

+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|category_id|customer_id|  product_category|        product_name|product_price|product_quantity|salestxn_id|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|         45|      12080|           Fishing|O'Brien Men's Neo...|        49.98|               2|      98660|
|         45|      12279|           Fishing|O'Brien Men's Neo...|        49.98|               2|      97749|
|         12|       3343|      Boxing & MMA|Under Armour Wome...|        31.99|               4|     103889|
|         45|      12382|           Fishing|O'Brien Men's Neo...|        49.98|               5|      22751|
|         47|       5032|           Boating|Pelican Sunstream...|       199.99|               1|     129001|
|         17|       2663|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     165110|
|         42|        702| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     140220|
|         44|       3959|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      77426|
|         16|       1836|   As Seen on  TV!|Perfect Fitness P...|        59.99|               4|     101870|
|         17|       5212|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     131685|
|         47|       4037|           Boating|Pelican Sunstream...|       199.99|               1|     164177|
|         17|       7528|            Cleats|Nike Men's CJ Eli...|       129.99|               1|      78983|
|         42|       5658| Bike & Skate Shop|Diamondback Women...|       299.98|               1|      84894|
|         17|       6888|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     170683|
|         23|       7946|     Men's Apparel|Nike Men's Dri-FI...|         50.0|               3|      22083|
|         45|      10667|           Fishing|O'Brien Men's Neo...|        49.98|               1|      76014|
|         45|       9976|           Fishing|O'Brien Men's Neo...|        49.98|               5|      79165|
|         23|       4798|     Men's Apparel|Nike Men's Dri-FI...|         50.0|               1|      44574|
|         42|       9356| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     102807|
|         28|       8284|        Top Brands|Under Armour Girl...|        39.99|               1|     125420|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
only showing top 20 rows